kind: Deployment
apiVersion: apps/v1
metadata:
  name: nginx-deploy
  labels:
    app: nginx
    tier: frontend
    purpose: deployment 
spec:
  replicas: 3
  selector:
    matchLabels:
      project: expense
      component: fronted
      environment: dev
  template:
    metadata:
      name: nginx-pod
      labels:
        project: expense
        component: fronted
        environment: dev
    spec:
      containers:
      - name: nginx-container
        image: nginx
---
kind: Service
apiVersion: v1
metadata:
  name: nginx
spec:
  type: LoadBalancer
  selector:
    project: expense
    component: fronted
    environment: dev
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
    nodePort: 30008

